.button {
  display: flex;
  padding: .75rem 1.25rem;
  align-items: center;

  border-radius: .5rem;

  font: var(--button);
  text-align: center;
  color: var(--text-title);
  
  &.primary{
    background-color: var(--pink-dark );

    &:hover{
      background-color: var(--pink-base);
    }
  }
  &.secondary{
    background-color: var(--blue-dark );

    &:hover{
      background-color: var(--blue-mid);
    }
  }
}