*, *::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* COLORS */
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;
  
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-backgroud: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;
  
  /* TYPO */
  /* Font family */ 
  --ff-raleway: "Raleway", sans-serif;

  /* Titles */
  --title-lg: normal 700 3rem/normal var(--ff-raleway);
  --title-md: normal 700 2.5rem/normal var(--ff-raleway);
  --title-sm: normal 700 2rem/normal var(--ff-raleway);
  --title-ssm: normal 700 1.5rem/normal var(--ff-raleway);
  --title-xs: normal 700 1rem/normal var(--ff-raleway);

  /* Subtitle */
  --subtitle: normal 500 2rem/2 var(--ff-raleway);

  /* Body */
  --body-lg: normal 400 1.25rem/1.4 var(--ff-raleway);
  --body-md: normal 400 1rem/1.4 var(--ff-raleway);
  --body-sm: normal 400 0.875rem/1.4 var(--ff-raleway);
  --body-xs: normal 400 0.75rem/1.4 var(--ff-raleway);

  /* Button & Link */
  --button: normal 700 0.875rem/normal var(--ff-raleway);
  --link:   normal 500 0.875rem/normal var(--ff-raleway);

  /* Tag */
  --tag: normal 700 0.625rem/1.2 var(--ff-raleway);
  --tag-ft: uppercase;
  --tag-fs: 0.05em;
}

html{
  background: linear-gradient(0deg, var(--pink-low) -300%, var(--shape-backgroud) 100%);
}
  
h1, h2, h3 {
  color: var(--text-title);
}
p{
  color: var(--text-body);

  text-align: center;
}

a{
  text-decoration: none;
  color: var(--blue-light);

  &:hover{
    color: var(--text-body);
  }

  &.social-link{
    &:hover{
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--shape-stroke);
      border-radius: 50%;
    }
  }
}

