header{
  & nav{
    max-width: 70rem;
    
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    
    & img{
      height: 3rem;
    }
  }
}

@media screen and (width >= 80rem) {
  #hero{
    & header{
      margin-top: 3.5rem;
    }
  }
}