#hero{
  width: 100%;
  padding: 1.25rem;
  gap: 3rem;
  
  min-height: 58vh;
  background: center/250% url(../assets/hero/hero-background.png) no-repeat;
  background-position: top; 
  
  & .hero-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      text-align: center;
      margin-top: 3rem;

      & h1{
        font: var(--title-sm);
      }
      & p{
        font: var(--body-sm);
      }
    }
  
}

@media screen and (width >= 80rem) {
  #hero{

    height: 100vh;
    background: center/150% url(../assets/hero/hero-background.png) no-repeat;
    background-position: bottom;

    & .hero-title{
      margin-top: 10.25rem ;
      & h1{
        font: var(--title-lg);
      }
      & p{
        font: var(--body-lg);
      }
    }
  }
  
}