#pricing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.5rem;
  
  & .title{
    text-align: center;
    margin-top: 6.5rem;
    font: var(--title-xs);
    color: var(--text-body);
  }

}
.container-card{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 3rem;
}
